$text-color: #333;
@use 'config/color';

body {
  line-height: 1.5;
  color: $text-color;
  margin: 0;
  padding: 0;
}

h2, h3 {
  font-weight: bold;
  color: color.get-color('title-color');
  margin-top: 3rem;
  justify-content: center;
  display: flex;
  font-size: 30px;
}

p{
  font-size: 17px;
}

.ourValues ul li, .Whatwedo li{
  font-size: larger;
  font-weight: bold;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

.ourTeamtext{
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: color.get-color('content-container');
  padding: 1rem;
  width: 50%;
  margin-top: 1rem;
  border-radius: 1rem;
  border-style: groove;
}
.ourTeam{
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: color.get-color('content-container');
  padding: 1rem;
  width: 50%;
  margin-top: 1rem;
  border-radius: 1rem;
  border-style: groove;
}

.imgValues{
  width: auto;
  max-height: 300px;
  margin-left: 100px;
  border-radius: 100%;
}

.Whoaretext{
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: color.get-color('content-container');
  padding: 1rem;
  width: 50%;
  margin-top: 1rem;
  border-radius: 1rem;
  border-style: groove;
}

.ourValues{
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.whatwetext{
  margin: auto;
  display: flex;
  align-items: center;
  text-align: left;
  max-width: 800px;
}


section a {
  text-decoration: none;
  color: color.get-color('button-text');
  font-weight: bold;
  font-family: Verdana;
  margin: auto;
  background-color: color.get-color('inpage-button');
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.Contactbutton:hover{
  background-color: color.get-color('inpage-button-hover');
}
.Contactbutton{
  text-decoration: none;
  color: color.get-color('button-text');
  font-weight: bold;
  font-family: Verdana;
  margin: auto;
  background-color: color.get-color('inpage-button');
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.text-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: color.get-color('content-container');
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  border-radius: 5rem;
  border-style: groove;
  .title-background {
      background-color: color.get-color('title-background');
      width: auto;
      border-radius: 5rem 5rem 0 0;
  }
  li{
    font-weight: bold;
  }
  .text-lower{
    text-align: center;
  }
  img{
    max-width: 75%;
    max-height: 75%;
    border-radius: 4rem;
  }
  .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.text-container-team {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: color.get-color('content-container');
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  border-radius: 1rem;
  border-style: groove;
  .title-background {
    background-color: color.get-color('title-background');
    width: auto;
    border-radius: 1rem 1rem 0 0;
}
}