@use 'config/color';
body{
    margin-top: 6rem;

    div{
        margin: auto;
        display: flex;
        text-align: center;
        flex-direction: column;
        background-color: color.get-color('content-container');
        padding: 1rem;
        width: 50%;
        margin-top: 1rem;
        border-radius: 1rem;
        border-style: groove;
        p {
            font-size: 17px;
        }
        a {
            text-decoration: none;
        }
    }
}