$light-blue: #ADD8E6;
$font-family: Arial, sans-serif;

body {
    font-family: $font-family;
    margin: 0; 
}

#faq .faq-item h3, h2 {
    color: orange;
}


#faq {
    text-align: center; // Centreer de inhoud van het FAQ-gedeelte
}

#faq h2 {
    margin-top: 50px; // Voeg wat ruimte toe boven de titel
}


.ourValues ul li, .Whatwedo li{
    font-size: larger;
    font-weight: bold;
  }
  main {
    padding: 2rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  
  .ourTeamtext{
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #e8dcdc;
    padding: 1rem;
    width: 50%;
    margin-top: 1rem;
    border-radius: 1rem;
  }
  
  .ourTeam{
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #e8dcdc;
    padding: 1rem;
    width: 50%;
    margin-top: 1rem;
    border-radius: 1rem;
  }
  
  .imgValues{
    width: auto;
    max-height: 300px;
    margin-left: 100px;
    border-radius: 100%;
  }
  
  .Whoaretext{
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #e8dcdc;
    padding: 1rem;
    width: 50%;
    margin-top: 1rem;
    border-radius: 1rem;
  }
  
  .ourValues{
    display: flex;
    align-items: center;
    margin: auto;
    margin-left: 34rem;
  }
  
  
  .whatwetext{
    margin: auto;
    display: flex;
    align-items: center;
    text-align: left;
    max-width: 800px;
  }
  
  .Whatwedo{
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #e8dcdc;
    padding: 1rem;
    width: 50%;
    border-radius: 5rem
  }
  
  .hero-img{
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://t3.ftcdn.net/jpg/05/52/40/68/360_F_552406857_FEdkG4cXnSTsClOqqEvEqejguObRNJGR.jpg");
  }

  .hero-text, h1{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .logoHero {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: auto;
  }
  
  section a {
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana;
    margin: auto;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
