body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: 25%;
    margin-right: 25%;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  #button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #result {
    font-weight: bold;
    color: #ff5733;
  }

  .mod{
    text-decoration: none;
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .radioGroup {
    display: flex; /* Display radio buttons and labels in a row */
    align-items: center; /* Align items vertically */
    margin-bottom: 10px; /* Add some space between radio groups */
}

.radioGroup input[type="radio"] {
    margin-right: 5px;
}
