
body{
    background-color: #b3f5bc;
}
.formulier{
    text-align: center;
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 100%;
    border-radius: 1rem;
    font-family: Verdana;
}