@use 'config/color';
body {
    margin: 0;
    main{
        text-align: center;
        section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;

            img, .text-container {
                width: 45%;
                margin: 0.5%;
            }
            img {
                max-height: 100%;
                object-fit: contain;
            }
            .text-container {
                margin: auto;
                display: flex;
                flex-direction: column;
                background-color: color.get-color('content-container');
                padding: 1rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
                border-radius: 1rem;
                border-style: groove;
                p {
                    text-align: left;
                    margin: auto;
                    width: 90%;
                    font-family: Verdana;
                }
            }
        }
        .reverse {
            flex-direction: row-reverse;
        }
        }
    }  


h1, h2{
    color: color.get-color('title-color');
}