@use 'config/color';
body {
    margin: 0;
    main{
        text-align: center;
        section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;

            img, .text-container {
                width: 45%;
                margin: 0.5%;
            }
            img {
                max-height: 100%;
                object-fit: contain;
                margin: 2rem;
            }
            .text-container {
                margin: auto;
                display: flex;
                flex-direction: column;
                background-color: color.get-color('content-container');
                margin-top: 1rem;
                margin-bottom: 1rem;
                border-radius: 1rem;
                border-style: groove;
                .title-background {
                    background-color: color.get-color('title-background');
                    width: auto;
                    border-radius: 1rem 1rem 0 0;
                }
                .title-background-lower{
                    background-color: color.get-color('title-background');
                    width: auto;
                    border-radius: 0 0 0 0;
                    margin-bottom: 1rem;
                }
                h2 {
                    margin: 0.5rem;
                    margin-top: 1rem;
                }
                p {
                    text-align: left;
                    margin: auto;
                    width: 90%;
                    font-family: Verdana;
                    margin-bottom: 1rem;
                }
            }
        }
        .reverse {
            flex-direction: row-reverse;
        }
        }
    }  


h1, h2{
    color: color.get-color('title-color');
}

.Contactbutton:hover{
  background-color: color.get-color('inpage-button-hover');
}
.Contactbutton{
  text-decoration: none;
  color: color.get-color('button-text');
  font-weight: bold;
  font-family: Verdana;
  margin: auto;
  background-color: color.get-color('inpage-button');
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}